@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/confeitaria.css);
@import url(styles/rodape.css);

:root {
    --azul: #0089ad;
    --azul-escuro: #1e5269;
    --laranja: #ffbd59;
    --fundo-cinza: #dededc;
    --cinza: #474646;
    --branco: #ffffff;
    --preto: #000000;
    --fonte-principal: "Poppins"
}


html {
    
      scroll-behavior: smooth;
  }

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.fundo {
    overflow-y: scroll;
    background-image: url(./img/Fundo\ playstation.webp);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 150%;
}

.fundo {
    height: 62.5em;
}

@media screen and (min-width: 1024px) {
    .fundo {
        overflow-y: unset;
        background-image: url(./img/Fundo\ playstation.webp);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .fundo{
        height: 100%;
        
    }
}
