hr {
    background-color: var(--azul-escuro);
    padding: 0.08em;
    margin-top: 0.8em;
}

.rodape {
    background-color: var(--branco);
}

.criador {
    text-decoration: none;
}

.rodape__titulo {
    padding: 0.3em 1em;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: var(--preto);
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {

    hr {
        padding: 0.5em;
        margin-top: -1em;
        background-color: var(--preto);
    }

    .rodape {
        display: flex;
        margin-top: -1em;
        padding: 2em;
        justify-content: space-around;
        
    }

    .rodape__img-fundo {
        background-image: url(../img/surra.gif);
        background-repeat: no-repeat;
        background-size: 32%;
        background-position: bottom;
    }

    .criador__redes {
        display: flex;
        gap: 23em;
    }

    .criador {
        border-right: 1px solid var(--cinza);
        padding-right: 2em;
    }

    .lista-rodape {
        display: block;
        border-left: 1px solid var(--cinza);
        padding-left: 3em;
        position: relative;
        left: -5%;
    }

    .lista-rodape__titulo {
        margin-bottom: 1em;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        color: var(--preto);
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        gap: 0.4em;
        margin-bottom: 15%;
        
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
    }
}

@media screen and (min-width: 1328px) {
    hr {
        padding: 0.30em;
        background-color: var(--preto);
}

.rodape__img-fundo {
    background-size: 20%;
}

.criador__redes {
    display: flex;
    gap: 20em;
}

.lista-rodape {
    left: -7%;
}
}
